<%- include("partials/header.ejs") %>

<div class="d-flex flex-column p-4 pb-0 pe-lg-0 pt-lg-4 align-items-center justify-content-between rounded-3 shadow-lg bg-transparent" id="main">

    <div class="col-12 d-flex flex-column justify-content-top"> 
        <h1>Write, learn and joy! </h1>
        <hr class="w-100 my-2" />
    </div>
    
    <div class="card w-75 border-secondary custom-article-card" style="
        min-height: 20rem;
        box-shadow: 0 8px 20px rgba(0,0,0,0.25);

    "> 
            <div class="card-header">
            <strong><%- data.title %></strong>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p><%- data.mainText %></p>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title"><%- data.author %></cite></footer>
          </blockquote>
        </div>
      </div>

      <hr class="w-100 my-2" />

      <div class="d-flex flex-row">
        
        <button type="button" class="btn btn-dark btn-lg px-4 mx-2 me-md-2 fw-bold  " onclick="location.href='/blog';">Back</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4" onclick="location.href=`#`">Edit</button>
      </div>
    

</div>

<%- include("partials/footer.ejs") %>
