<%- include("partials/header.ejs") %>



<div class="container">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-4 align-items-start rounded-3 shadow-lg bg-transparent" id="main">
        
        <div class="col-12 d-flex flex-column justify-content-center"> 
            <h1>Select your article here </h1>
            <hr class="w-100 my-2" />
        </div>

        <% if (typeof articles !== 'undefined' && articles.length > 0) { %>
            <% articles.forEach(article => { %>
                <div class="col-12 d-flex justify-content-center p-4">
                    <div class="card text-bg-dark text-center border-secondary w-75">
                        <div class="card-header text-bg-dark">
                            <%= article.title %>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><%= article.author %></h5>
                            <p class="card-text"><%= article.content %></p>
                            <a href="/edit/<%= article.id %>" class="btn btn-dark">Edit</a>
                        </div>
                        <div class="card-footer text-body-secondary">
                            Posted by: <%= article.nick %>
                        </div>
                    </div>
                </div>
            <% }); %>
        <% } else { %>
                <div class="col-12 d-flex justify-content-center p-4">
                    <div class="card text-bg-dark text-center border-secondary w-75">
                        <div class="card-header text-bg-dark">
                            No articles found.
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"> Please add article. </h5>
    
                        </div>
                        <div class="card-footer text-body-secondary">
                            <p> --- </p>
                        </div>
                    </div>
                </div>
        <% } %>            
    </div>
</div>
<%- include("partials/footer.ejs") %>